{% extends "layouts/admin/base.html" %}


{% block body_start %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block page_title %}Case 2309-1129-5569-2669{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    <a class="govuk-body govuk-!-f-19" href="/case-list">
      Case list
    </a>

    <br>
    <br>



    <div id="subHeader">
       <p class="textWhite">2309-1129-5569-2669<strong class="bold-small"></strong></p>
       <!-- <p id="paragraphWhite">Print</p> -->
    </div>

    <br>


     <!-- Tabbed panel -->
    <div class="govuk-!-mb-r9">

      {% set beforeYouStartPanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">

          <h2>Before you start</h2>

          <p>To get your first provisional driving licence online for a car, motorcycle or moped you must:</p>

          <ul>
            <li>be a resident of Great Britain &ndash; there&rsquo;s a different service in <a href="">Northern Ireland</a></li>
            <li>meet the minimum age requirement</li>
            <li>meet the <a href="">minimum eyesight requirement</a></li>
            <li>not be prevented from driving for any reason</li>
            <li>pay &pound;50 by MasterCard, Visa, Electron, Maestro or Delta debit or credit card</li>
            <li>have a valid UK passport or <a href="">other form of identity</a></li>
            <li>have your National Insurance number if known</li>
            <li>provide addresses where you&rsquo;ve lived for the last 3 years</li>
          </ul>

        </div>
      {% endset %}

      {% set needToKnowPanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">
          <h2>Need to know</h2>
          <ul>
            <li>proof of identification required</li>
            <li>3 years of address details required</li>
            <li>debit or credit card required</li>
          </ul>
        </div>
      {% endset %}

      {% set paymentPanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">



      <h1 class="govuk-heading-xl">Examples</h1>



      <br>

              <table class="govuk-table">
              <caption class="govuk-table__caption">Credit account payment <span class="govuk-caption-m">(happy path + multi fee + failed payment)</span></caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Payment reference</th>
                  <th class="govuk-table__header" scope="col">Date created</th>
                  <th class="govuk-table__header" scope="col">Method</th>
                  <th class="govuk-table__header" scope="col">Amount</th>
                  <th class="govuk-table__header" scope="col">Status</th>
                  <th class="govuk-table__header" scope="col">Remission</th>
                  <th class="govuk-table__header" scope="col">Refund</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label="Payment reference"><a href="/payment-pages/credit">RC-1521-1095-0964-3143<a/></td>
                  <td data-label="Date created">14 Feb 2018—10:25:12</td>
                  <td data-label="Method">Credit account</td>
                  <td data-label="Amount">£215.00</td>
                  <td data-label="Status">Success</td>
                  <td data-label="Remission">No</td>
                  <td data-label="Refund">No</td>
                </tr>
                <tr>

                  <td data-label="Payment reference"><a href="/payment-pages/credit+multifee">RC-1521-1095-0964-3143<a/></td>
                  <td data-label="Date created">14 Feb 2018—10:25:12</td>
                  <td data-label="Method">Credit account</td>
                  <td data-label="Amount">£216.50</td>
                  <td data-label="Status">Success</td>
                  <td data-label="Remission">No</td>
                  <td data-label="Refund">No</td>
                </tr>
                <tr>
                  <td data-label="Payment reference"><a href="/payment-pages/credit+failed">RC-3556-2525-7732-1145<a/></td>
                  <td data-label="Date created">14 Feb 2018—10:25:12</td>
                  <td data-label="Method">Credit account</td>
                  <td data-label="Amount">£550.00</td>
                  <td data-label="Status">Failed</td>
                  <td data-label="Remission">No</td>
                  <td data-label="Refund">No</td>
                </tr>




              </tbody>
              </table>


      <br>

                <table class="govuk-table">
          <caption class="govuk-table__caption">Card payment <span class="govuk-caption-m">(happy path + multi fee)</span></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Payment reference</th>
              <th class="govuk-table__header" scope="col">Date created</th>
              <th class="govuk-table__header" scope="col">Method</th>
              <th class="govuk-table__header" scope="col">Amount</th>
              <th class="govuk-table__header" scope="col">Status</th>
              <th class="govuk-table__header" scope="col">Remission</th>
              <th class="govuk-table__header" scope="col">Refund</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Payment reference"><a href="/payment-pages/card">RC-7745-1623-4870-7132<a/></td>
              <td data-label="Date created">09 Mar 2018—14:48:39</td>
              <td data-label="Method">Card</td>
              <td data-label="Amount">£100.00</td>
              <td data-label="Status">Success</td>
              <td data-label="Remission">No</td>
              <td data-label="Refund">No</td>
            </tr>

            <tr>
              <td data-label="Payment reference"><a href="/payment-pages/card+multifee">RC-7745-1623-4870-7132<a/></td>
              <td data-label="Date created">09 Mar 2018—14:48:39</td>
              <td data-label="Method">Card</td>
              <td data-label="Amount">£101.00</td>
              <td data-label="Status">Success</td>
              <td data-label="Remission">No</td>
              <td data-label="Refund">No</td>
            </tr>


          </tbody>
          </table>


          <br>

                    <!-- <table class="govuk-table">
              <caption class="govuk-table__caption">Linked payments<span class="govuk-caption-m">(happy path)</span></caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Payment reference</th>
                  <th class="govuk-table__header" scope="col">Date created</th>
                  <th class="govuk-table__header" scope="col">Method</th>
                  <th class="govuk-table__header" scope="col">Amount</th>
                  <th class="govuk-table__header" scope="col">Status</th>
                  <th class="govuk-table__header" scope="col">Remission</th>
                  <th class="govuk-table__header" scope="col">Refund</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td data-label="Payment reference"><a href="/payment-pages/card">RC-7745-1623-4870-7132<a/></td>
                  <td data-label="Date created">09 Mar 2018—14:48:39</td>
                  <td data-label="Method">Card</td>
                  <td data-label="Amount">£100.00</td>
                  <td data-label="Status">Success</td>
                  <td data-label="Remission">No</td>
                  <td data-label="Refund">No</td>
                </tr>
                <tr class="no-border-bottom">
                  <td data-label="Payment reference" class="linked-payment-top"><a href="/payment-pages/card">RC-7745-1623-4870-7132<a/></td>
                  <td data-label="Date created">09 Mar 2018—14:48:39</td>
                  <td data-label="Method">Card</td>
                  <td data-label="Amount">£100.00</td>
                  <td data-label="Status">Success</td>
                  <td data-label="Remission">No</td>
                  <td data-label="Refund">No</td>
                </tr>

                <tr>
                  <td data-label="Payment reference" class="linked-payment-bottom"><a href="/payment-pages/card+multifee">RC-7745-1623-4870-7132<a/></td>
                  <td data-label="Date created">09 Mar 2018—14:48:39</td>
                  <td data-label="Method">Card</td>
                  <td data-label="Amount">£101.00</td>
                  <td data-label="Status">Success</td>
                  <td data-label="Remission">No</td>
                  <td data-label="Refund">No</td>
                </tr>


              </tbody>
              </table> -->



<br>

        </div>
      {% endset %}

      {{govukTabs({
        tabs: [
        {
          id: 'payment',
          label: 'Payment',
          panel: {
            html: paymentPanelHtml
          }

        }]
      })}}

    </div>


  </main>

</div>

{% endblock %}

{% block page_scripts %}
  <script>
    if(Tabs) {
      new Tabs($('.govuk-tabs').eq(0));
    } else {
      $('.govuk-tabs .js-hidden').removeClass('js-hidden');
      $('.js-tabs-enabled').removeClass('js-tabs-enabled');
    }
  </script>
{% endblock %}
